@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&family=Titillium+Web:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font style */
  --heading-font: 'Exo', sans-serif;
  --paragraph-font: 'Titillium Web', sans-serif;

   /* color */
   --primary-color: #0DD6B8;
   /* --accent-color: #F6F5F5;  */
   --secondary-color: #F6F5F5; /* bg-light */
   --red-color: #FF9B8A;
   --black-color: #11141B;
   --white-color: #fff;
 
   /* font size */
   --h1-font-size: 2.125rem; /* 34px */
   --h2-font-size: 1.5em; /* 24px */
   --h3-font-size: 1.125rem; /* 18px */
   --regular-font-size: 0.875rem; /* 14px */
   --small-font-size: 0.75rem; /* 12px */
}

* {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* font setting */
.heading1 {
  font-family: var(--heading-font);
  font-size: var(--h1-font-size);
  font-weight: 700;
}

.heading2 {
  font-family: var(--heading-font);
  font-size: var(--h2-font-size);
  font-weight: 700;
}

.heading3 {
  font-family: var(--heading-font);
  font-size: var(--h3-font-size);
}

.paragraph-regular {
  font-family: var(--paragraph-font);
  font-size: var(--regular-font-size);
}

.paragraph-small {
  font-family: var(--paragraph-font);
  font-size: var(--small-font-size);
}

/* color class */
.green {
  color: var(--primary-color);
}

.grey-light {
  color: var(--secondary-color);
}

.white {
  color: var(--white-color);
}

.dark {
  color: var(--black-color);
}
