@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font style */
  --heading-font: 'Exo', sans-serif;
  --paragraph-font: 'Titillium Web', sans-serif;

   /* color */
   --primary-color: #0DD6B8;
   /* --accent-color: #F6F5F5;  */
   --secondary-color: #F6F5F5; /* bg-light */
   --red-color: #FF9B8A;
   --black-color: #11141B;
   --white-color: #fff;
 
   /* font size */
   --h1-font-size: 2.125rem; /* 34px */
   --h2-font-size: 1.5em; /* 24px */
   --h3-font-size: 1.125rem; /* 18px */
   --regular-font-size: 0.875rem; /* 14px */
   --small-font-size: 0.75rem; /* 12px */
}

* {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--secondary-color);
}

/* font setting */
.heading1 {
  font-family: var(--paragraph-font);
  font-size: var(--h1-font-size);
  font-weight: 700;
}

.heading2 {
  font-family: var(--heading-font);
  font-size: var(--h2-font-size);
  font-weight: 700;
}

.heading3 {
  font-family: var(--heading-font);
  font-size: var(--h3-font-size);
}

.paragraph-regular {
  font-family: var(--paragraph-font);
  font-size: var(--regular-font-size);
}

.paragraph-small {
  font-family: var(--paragraph-font);
  font-size: var(--small-font-size);
}

/* color class */
.green {
  color: var(--primary-color);
}

.grey-light {
  color: var(--secondary-color);
}

.white {
  color: var(--white-color);
}

.dark {
  color: var(--black-color);
}


.tableHeader {
  @apply bg-gray-50
}

.tableCol {
  @apply px-4 py-3.5 text-sm text-center dark align-middle paragraph-regular border-2;
}

.tableData {
  @apply px-4 py-4 text-sm dark text-center border-2
}

.btnPrimary {
  @apply my-3 rounded-md bg-emerald-600 py-2 px-3 paragraph-regular white 
  transition-all delay-200 hover:bg-gray-500;
}

.btnReset {
  @apply my-3 rounded-md bg-[#f59f6d] py-2 px-3 paragraph-regular white 
  transition-all delay-200 hover:bg-gray-500;
}

/* input form */
.input-text {
  @apply w-auto h-10 pl-4 border-2;
  color: var(--black-color);
}

.label-form {
  @apply mb-1.5 mt-4 font-bold;
  font-family: var(--paragraph-font);
  font-size: var(--h3-font-size);
  color: var(--black-color);
}